{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "externalHelpers": true,
    "parser": {
      "syntax": "typescript",
      "decorators": true
    }
  },
  "env": {
    "targets": ["current node", "chrome 118"]
  }
}
